<!DOCTYPE html>
<html>
  <head>
    <title>XLikeMalcolm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">XLikeMalcolm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Home", "/", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Services", services_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Contact", contact_path, class: "nav-link" %>
            </li>
          </ul>
          <% if current_user %>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown"><%= current_user.email %><span class="caret"></span></button>
              <ul class="dropdown-menu">
              <li class="nav-item">
                <%= link_to "Profile", contact_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", logout_path, method: "delete", class: "nav-link" %>
              </li>
              </ul>
            </div>
          <% else %>
          <div>
            <%= link_to "Login", login_path, class: "btn btn-success btn-sm" %>
            <%= link_to "Signup", signup_path, class: "btn btn-primary btn-sm" %>
          </div>
          <% end %>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

    <%= yield %>

         

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                	<% Category.all.each do |category| %>
                  <ul class="list-unstyled mb-0">
                    <li>
                      <%= link_to category.name, category_path(category.id) %>
                    </li>
                    <% end %>
                  </ul>
                  <% if current_user %>
                  <hr>
                  <%= link_to 'New Category', new_category_path%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
